apiVersion: apps/v1
kind: Deployment
metadata:
  name: db-faseb
spec:
  replicas: 1
  selector:
    matchLabels:
      app: db
  template:
    metadata:
      labels:
        app: db
    spec:
      containers:
      - name: mariadb
        image: mariadb:latest
        env:
        - name: MYSQL_ROOT_PASSWORD
          value: "Megamanzero"
        - name: MYSQL_DATABASE
          value: "proyecto_lamp"
        - name: MYSQL_USER
          value: "admin"
        - name: MYSQL_PASSWORD
          value: "1234"
        ports:
        - containerPort: 3306
---
apiVersion: v1
kind: Service
metadata:
  name: db # Este nombre será el "hostname" que usará tu PHP
spec:
  selector:
    app: db
  ports:
    port: 3306